// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-text = #333333
color-grey = #a0a0a0
color-border = #ddd
color-tag = #A7B0B3
color-link = #DB4D52
color-background = #f0f0f0
color-article-background = #fbfbfb;

// Fonts
font-sans = -apple-system, "Avenir-light", "AvenirLTStd-Light",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "fira mono", Consolas, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 14px
line-height = 1.6rem
line-height-title = 1.1rem

container-width = 38rem

// Header
logo-size = 40px

// article
title-size = 18px

gutter-size = (16px / font-size)rem

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
