footer.container
  .rights
    span Powered by 
    a(href="http://hexo.io", target="_blank") Hexo
    span , Theme 
    a(href="https://github.com/gary-Shen/hexo-theme-bear", target="_blank") hexo-theme-bear
    span .
