extends ../_partial/layout

block content
  .container
    -var last;
    each group in _.chain(site.posts.data).filter(item => page.year ? item.date.year() === page.year : true).groupBy(item => item.date.year()).toPairs().sortBy(item => -item[0]).value()
      .year-wrap
        .year
          a.title(href=url_for(config.archive_dir + '/' + group[0]))= group[0]
      .archives
        each post in group[1]
          .post-archive
            .post-archive__content
              .post-archive__month= time(post.date, 'MM月')
              .post-archive__body
                a.post-archive__title(href=url_for(post.path))= post.title || '未命名'
                .post-archive__excerpt
                  .post-archive__excerpt-content!= post.excerpt
