$theme_config = hexo-config("highlight_theme")

if $theme_config == "atom dark"

  highlight-background   = #1D252C
  highlight-border-color = #1D252C
  highlight-table-border-color = #dddddd
  highlight-current-line = #2a2a2a
  highlight-selection    = darken(#333F4A, 3%)
  highlight-foreground   = #B7C5D3
  highlight-comment      = #41505E
  highlight-red          = #D95468
  highlight-orange       = #D98E48
  highlight-yellow       = #EBBF83
  highlight-green        = #008B94
  highlight-aqua         = #70c0b1
  highlight-blue         = #539AFC
  highlight-purple       = #B62D65

if $theme_config == "atom light"

    highlight-background   = #ffffff
    highlight-border-color = #e5e5e5
    highlight-table-border-color = #dddddd
    highlight-current-line = #2a2a2a
    highlight-selection    = #c8c8fa
    highlight-foreground   = #24292e
    highlight-comment      = #959da5
    highlight-red          = #d73a49
    highlight-orange       = #e36209
    highlight-yellow       = #f9c513
    highlight-green        = #009688
    highlight-aqua         = #70c0b1
    highlight-blue         = #539AFC
    highlight-purple       = #B62D65
